body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}

header {
  flex: 0 40px;
  border: 2px solid red;
}

main {
  flex: 1;
  border: 2px solid red;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  flex: 0 30px;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid red;
}



nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.2s ease-in-out;
}

nav a:hover {
  color: #aaa;
}